In [1]:
#It gives error, because we try to convert number to list
a=list(3.14)

TypeError: 'float' object is not iterable

In [36]:
#converting string to list, every character will be element of list
a=list("3.14")

In [3]:
a

['3', '.', '1', '4']

In [37]:
firstlist=("Yasemin","will","be","successfull")

In [38]:
#len function finds lenght of list
len(firstlist)

4

In [39]:
#to reach first character of list
firstlist[0]

'Yasemin'

In [40]:
#to reach fourth character of list
firstlist[3]

'successfull'

In [41]:
#all elements except for first element
firstlist[1:]

('will', 'be', 'successfull')

In [42]:
#last element of list
firstlist[len(firstlist)-1]

'successfull'

In [43]:
#last element of list
firstlist[-1]

'successfull'

In [15]:
firstlist[::-2]

('successfull', 'will')

In [16]:
firstlist[::2]

('Yasemin', 'be')

In [17]:
firstlist[::-1]

('successfull', 'be', 'will', 'Yasemin')

In [3]:
#compound of two lists
firstlist=[1,2,3]
secondlist=[4,5,6]
thirdlist=firstlist+secondlist

In [6]:
thirdlist

[1, 2, 3, 4, 5, 6]

In [20]:
#compund of same list as three times
a=[1,2]
a=a*3

In [21]:
a

[1, 2, 1, 2, 1, 2]

In [22]:
print(a)

[1, 2, 1, 2, 1, 2]

In [44]:
#change first element' s value of list
x=[1,2,3]
x[0]=5

In [45]:
x

[5, 2, 3]

In [25]:
#getting first element
x[:1]

[5]

In [46]:
#getting the first two elements
x[:2]

[5, 2]

In [47]:
#assign new values to first two elements
x[:2]=["Y","Ş"]

In [28]:
x

['Y', 'Ş', 3]

In [49]:
#append function for lists
list1=["Yasemin", "Senlik","Istanbul","Marmara"];
list1.append("Uskudar")
list1

['Yasemin', 'Senlik', 'Istanbul', 'Marmara', 'Uskudar']

In [50]:
#pop function for lists
list1.pop()

'Uskudar'

In [51]:
list1

['Yasemin', 'Senlik', 'Istanbul', 'Marmara']

In [54]:
list2=["Python", "Lovers"]

In [63]:
#append a list to list
list1.append(list2)

In [64]:
list1

['Yasemin', 'Senlik', 'Istanbul', 'Marmara', ['Python', 'Lovers']]

In [65]:
list1.pop()

['Python', 'Lovers']

In [66]:
list1

['Yasemin', 'Senlik', 'Istanbul', 'Marmara']

In [67]:
#pop with an identified element
list1.pop(0)

'Yasemin'

In [68]:
#sort function for lists
list1.sort()

In [69]:
list1

['Istanbul', 'Marmara', 'Senlik']

In [70]:
list1.sort(reverse=True)

In [71]:
list1

['Senlik', 'Marmara', 'Istanbul']