In [4]:
#firstly a is float number
a=3.14
#a is integer in the following
a=int(a)
a

3

In [6]:
#s is string
s="345"
s

'345'

In [7]:
#s is integer
s=int(s)
s

345

In [8]:
#s is float number
s=float(s)
s

345.0

In [15]:
#converting number to string
a=str(3.45)
a

'3.45'

In [16]:
len(a)

4

In [18]:
a="Yasemin123"
#When we try to convert character to number, we will receive error
#a=int(a)